head
  link(
    rel='search'
    type='application/opensearchdescription+xml'
    title='Pocal Search'
    href='/addons/search-plugin.xml'
    )

form
  input(name='query' value=query placeholder='Enter your search')
  button Search
